<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <connectionStrings>
    <add name="DatabaseConnetion" connectionString="Database=PMS;Port=3307;Server=192.168.1.111;Uid=root;Pwd=admin@2014" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <appSettings>
    <add key="ServerLogFile" value="~/LogDetails/log.txt"/>
    <add key="FolderPath" value="~/SavedImages"/>
    <add key="Pdf" value="~/images"/>
    <add key="SavedImagesPath" value="~/SavedImages"/>
    <add key="EnableSSL" value="true"/>
    <add key="ServerName" value="Windows"/>
    <add key="ServerUser" value="sa"/>
    <add key="ServerPassword" value="admin@2014"/>
  </appSettings>

</configuration>
